rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{jobId} {
      allow create: if request.auth != null;
      allow get, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow list: if request.auth != null && request.auth.uid == request.query.filters[0][2];
    }

    match /users/{userId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
    }
  }
}
