rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /jobs/{jobId} {
      function isOwner() {
        return request.auth != null && request.auth.uid == resource.data.userId;
      }

      allow read, update, delete: if isOwner();
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow list: if request.auth != null;
    }
  }
}
